* {
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
}

li, button {
    font-family: Inter,sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}

.headerimage {
    background-image: url(../img/headerimage.jpg);
    background-repeat:repeat;
}

header {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 10px 10%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    max-height: 70px;
}


.logo {
    cursor: pointer;
    width: 10%;
    margin-right: auto;
}

.navs-links {
    list-style: none;
}

.navs-links li {
    display: inline-block;
    padding: 0px 20px;
}

.navs-links li a {
    transition: all 0.3s ease 0s;
    font-size: 17px;
    font-family: Inter,sans-serif;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
}
.navs-links li a:hover {
    color: rgb(218, 198, 198);
}

.nav-container {
    background-color: #0d21d3;
    height: 140px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #0d21d3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}   

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #696acf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:#3a4ad6;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3a4ad6;}

.catalogo-button {
    display: inline-block;
    align-self: center;
    padding: 5px;
    border-radius: 15px;
    border: #ffffff solid 0.5px;
    padding-right: 30px;
}

.catalogo-button a {
    padding-left: 30px;
    padding-right: 10px;
    color: #FFF;
    text-decoration: none;
}
.catalogo-button img {
height: 20px;
justify-content: flex-end;
align-self: center;
padding-top: 5px;
}
/* End of the Header*/

/*  Slice Container*/

.section1image {
    background-image: url(../img/Playa_Punta_Cana2.jpg);
    background-repeat: repeat;
    background-position: 50% 100%;
}

.slice-container {
    height: 91vh;
    max-height:2000px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins,sans-serif;
}

.slice-container h1 {
    font-size: 85px;
    color: #FFF;
    font-family: Poppins,sans-serif;
    font-weight: 700;
}

.excursiones {
    margin-top: 30px;
}

.enpuntacana {
    margin-top: -20px;
}
.subtitulo h2{
    font-size: 30px;
    color: #FFF;
}

.subtilulo2 h4 {
    font-size: 20px;
    color: #ffd900;
    margin-top: 50px;
    letter-spacing: 4px;   
}

.slice {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.slice img {
    height: 280px;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

/* Fin del slice y comienzo del contenido principal */

.excursions-container {
    background-color: #f1f1f1;
    color: #ffd900;
    padding-top: 60px;
    padding-bottom: 0;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.section2image {
    background-image: url(../img/backgroundsection1.jpg);
    background-repeat: repeat;
}
.excursions-container{
    max-width: 1600px;
    align-content: center;
    margin-left: auto;
    margin-right:auto;
    outline: black solid;
}

.excursions-container div .tab1, .tab2 {
    box-sizing: border-box;
    border-radius: 100px;
    text-align: center;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
    font-size: 12px;
}

.tab1 {
    background-color: #00135f;
    color: rgba(255,255,255,.87);
    text-decoration: none;
}
.tab2{
    background-color: #FFF;
    color: #00135f;
    text-decoration: none;
}
.excursions-container h3 {
    color:#00135f;
    font-size: 100px;
    padding-left: 60px;
}

/* SIDEBAR AND EXCURSIONS CONTENT */

.sidebarandexcursionscontent {
    outline: red solid;
    display: flex;
    flex-wrap: wrap;
}

.sidebarexcursions {
    flex: 1 1 30%;
}

.excursionscontent {
    flex: 1 1 70%;
    border: #000 solid;
}
.sidebarexcursionscontent img {
    width: 60px;
    height: 140px;
    max-height: 50px;
    max-width: 70px;
    margin: 50px 0px 0 50px;
}

.sidebarexcursionscontent h3 {
    font-size: 38px;
    color:#000;
    margin-left: 50px;
    padding: 0;
}

.sidebarandexcursionscontent p {
    margin-top: 15px;
    margin-left: 50px;
    font-family: Inter,sans-serif;
    font-size: 17px;
    line-height: 1.4em;
    font-weight: 400;
    color: #333;
}

.experiencias {
    width: fit-content;
}
.experiencias p{
    box-sizing: border-box;
    background-color: #FFF;
    color: #333;
    border-radius: 10px;
    border: #333 solid 0.5px;
    padding: 5px;
}   

.excursionsbox1 {
    outline: black solid 0.5px;
    max-width: 28vw;
    flex-direction: column;
    margin-top: 60px;
    border-radius: 30px;
}

.plazasimage {
    background-color: #0d21d3;
    background-image: url(../img/excursionsimage1.jpeg);
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: 100% 70%;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.plazas a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 4px;
    background-color: #1fcaca;
    border-radius: 5px;
    font-family: Inter,sans-serif;;
}

.plazas {
    margin-bottom: 3px;
    align-self: flex-start;
    background-color: #333;
    align-self: center;
}

.favoritos {
    width: 40px;
    margin-left: 10px;
    margin-top: 5px;
}

.toursboxinformation {
    display: flex;
    flex-direction: row;
    height: 160px;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 20px;
}

.tourstitle {
    font-family: Poppins,sans-serif;
    margin-left: 15px;
    color: #00135f;
    width: auto;
    margin-top: 5px;
    font-size: 1.4vw;
}

.toursboxlefinfo {
    margin-left: 10px;
    color: rgba(0,0,0,.51);
    font-size: 14px;
    margin-bottom: 15px;
}

.calendario, .reloj {
    max-width: 15px;
}

.cancelacion {
    margin-top: 10px;
}
.cancelacion a{
    font-family: Inter,sans-serif;
    color: #59a561;
    font-size: 10px;
    line-height: 1.3em;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}


.toursboxrightinfo {
    color: rgba(0,0,0,.51);
    margin-right: 15px;
}

.oldvalue {
    color: #e00000;
    font-weight: bolder;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    text-decoration: line-through;
}

.actualvalue {
    font-family: Inter,sans-serif;
    color: #0d21d3;
    font-size: 22px;
    font-weight: bolder;
}
.note {
    color: #8d94a3;
    font-size: 10px;
}